 .header {
            left: 0;
            top: 0;
            width: 100%;
        }
        
        .error {
            
            height: 20px;
            width: 100%;
           }
        
        .org {
            overflow: scroll;
            float: left;
            height: 200px;
            border: 1px solid purple;
            max-width: 49%;
        }

        .validity {
            overflow: scroll;
            float: right;
            height: 200px;
            border: 1px solid purple;
            max-width: 49%;
        }
        
        .addorg {
           
            float: left;
            max-width: 49%;
        }
        
        .addvalidity {
           
            float: right;
            max-width: 49%;
        }

        .footer {
            position: fixed;
            /* Фиксированное положение */
            right: 0;
            bottom: 0;
            /* Левый нижний угол */
            width: 100%;
        }

 table {
 width: 100%;
 display:content;
 table-layout:fixed;
 }
 
  thead th {
            position: -webkit-sticky;
            /* for Safari */
            position: sticky;
            top: 0;
            background: gray;

        }
        
        .filterInput{
    margin: 0;
    padding: 0;
    width: 98%;
    border: 1px;
    border-style: solid;    
}